.files {
	padding:0 100px 20px;
	
	ul, li {
		list-style:none;
		margin:0;
		padding:0;
	}
	
	.nav {
		padding:0 0 40px;
		.text-center;
		
		ul, li {
			display:inline-block;
		}
		
		li {
			&:after {
				content:"-";
				margin:0 5px;
				color:@gray;
			}
			
			&:last-of-type {
				&:after {
					content:"";
					margin:0;
				}
			}
		}
	}
	
	.files-list {		
		h2 {
			padding:10px 20px;
			margin:0;
			border-bottom:1px solid fade(@black, 25%);
			.clearfix;
			color:@white;
			background:@blue;
			.border-radius(12px 12px 0 0;)
		}
		
		h3 {
			margin-bottom:.5em;
		}
		
		a {
			display:inline-block;
		}
		
		> li {
			margin-bottom:30px;
			.border-radius;
			background:fade(@black, 4%);
			.clearfix;
			border-bottom:1px solid fade(@black, 15%);
			
			> ul {				
				> li {
					padding:15px 20px 20px;
					border-bottom:1px dotted fade(@black, 10%);
					
					&:last-child {
						border-bottom:0;
					}
				}
			}
		}
		
	}
}